/datasets/
/src/main/java/machura/przemyslaw/featuresselectionwithrl/test/
/src/main/java/machura/przemyslaw/wekaexamples/
/src/main/java/machura/przemyslaw/wekatutorial/
/target/
/test.arff
/eksperymenty/
VSCWorkspace.code-workspace
